body {
  color: Darkblue;
  font-family: Open Sans;
  background-color: Ivory;
  margin: 10px 50px 10px 50px;
}

h1, h2, h3, h4 {
  font-family: Oswald;
}

img {
  float: left;
  margin-right: 10px;
}

div {
  padding: 1px;
}

.left {
  float: left;
  width: 300px;
}

.right {
  float: right;
  width: 300px;
}

.center {
  margin-left: 300px;
  margin-right: 300px;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline;
}

#navbar a {
  margin-left: 75px;
  margin-right: 75px;
}