<template name="Footer">
  <footer>

    <div class="ui two column grid container">
      <div class="column" style="text-align: center;">
        CollabApp Mock-Page
        <br>
        by Neil Teves
        <br><br>
        <a class="fitted item"><i class="facebook f icon"></i></a>
        <a class="fitted item"><i class="twitter icon"></i></a>
        <a class="fitted item"><i class="pinterest icon"></i></a>
        <a class="fitted item"><i class="instagram icon"></i></a>
      </div>
      <div class="column">
        <img class="ui centered small image" src="http://www5.pbrc.hawaii.edu/logos/manoaseal_transparent.png">
      </div>
    </div>

  </footer>
</template>